/**
 * The CSS Styles used for the admin-specific area.
 *
 * @link       https://github.com/tommasodargenio/wp-riodt/admin/css/wp-riotd-admin.css
 * @since      1.0.1
 * 
 * @package    RIOTD
 * @subpackage RIOTD/admin
 * @author     Tommaso D'Argenio <dev@tommasodargenio.com>
 *  
 */

#highlight_box {
    display: block;
    float: left;
    clear: both;
    margin: 15px 0 0 0;
    padding: 15px 20px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;  
}

#reddit_iotd_admin_table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: #999;
    border-collapse: collapse;
}

#reddit_iotd_admin_table th {
    background-color: rgba(0,0,0,0.1);
}
#reddit_iotd_admin_table th, #reddit_iotd_admin_table td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
} 

#social_sharing_box {
    padding-top: 50px;
    width: 100%;
}

hr {
    width: 100%;
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #f6f7f7;
}

#reddit_iotd_icon_success {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 5px;
    color: #0a0;
}
#reddit_iotd_icon_error {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 5px;
    color: #a00;
}
#reddit_iotd_icon_loading {    
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;    
}

#reddit_iodt_highlight_on {
    border: solid 1px #a00;
}

#reddit_iotd_admin_preview {
    border: solid 1px #aaa;
    padding: 10px;
    margin: 10px;    
    width: 380px;
}

#reddit_iotd_admin_preview h1 {
    background-color: #bbb;
    font-size: large;
    font-weight: bolder;
    color: #222;
    padding: 5px;
}

.CodeMirror {
    border: 1px solid #777;
  }

.CodeMirror.disabled .CodeMirror-scroll {
    background-color: #eee;
}